.footer
	padding 0 vw(47)
	padding-top vw(20)
	padding-bottom vw(29)
	df(,space-between)
	@media $mobile
		padding vm(20) vm(25)
		align-items flex-end
	&__text
		fontify vw(9) 400 139%
		letter-spacing -.04em
		color #6292DF
		@media $mobile
			fontify vm(8) 400 vm(11)
			width vm(264)
		a
			color #6292DF
