@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

/* components import here */

@import './components/layout/header.styl'
@import './components/layout/footer.styl'
@import './components/layout/social.styl'
@import './components/layout/animation.styl'
@import './components/intro/intro.styl'
@import './components/intro/animation.styl'
@import './components/test/test.styl'
@import './components/test/animation.styl'
@import './components/result/result.styl'
@import './components/result/animation.styl'
