$os = 'Montserrat'
$ro = 'RussoOne'
$in = 'Inter'

$black = #000000
$white = #ffffff
$t = transparent

$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'
